<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create Item</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <p style="text-align: right" ><a href="/wishlist">Home</a> - <a href="/logout">Logout</a></p>
            <h2>{{item.itemname}}</h2><br>
            <p>Users who added this product/item under their wish list:</p><br>
            {% for user in item.wished_by.all %}
                <p>{{user.name}}</p>
            {% endfor %}
        </div>
    </body>
</html>